---
import Layout from "@/components/BasicLayout.astro";
import { ghostClient } from "@/lib/ghost";

const result = await ghostClient.posts
  .browse({
    limit: 4,
    page: 1,
    filter: "tags:news",
  })
  .fields({
    id: true,
    feature_image: true,
    title: true,
    slug: true,
    published_at: true,
    excerpt: true,
    primary_tag: true,
  })
  .fetch();
if (!result.success) {
  return Astro.redirect("/404");
}
const postData = result.data.map((post) => ({
  ...post,
  tags: /tags:([\w,]+)\|/.exec(post.excerpt)?.[1].split(","),
}));
---

<Layout pageTitle={"Ones To Watch for FrontEnd"}>
  <Fragment slot="head">
    <meta
      name="description"
      content="프론트엔드에 대한 정보들을 매주 큐레이션해드립니다."
    />
    <meta property="og:title" content="ONE TO WATCH for FrontEnd" />
    <meta
      property="og:description"
      content="프론트엔드에 대한 정보들을 매주 큐레이션해드립니다."
    />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/images/og.png" />
  </Fragment>
  <article class="container pt-12 px-4 sm:px-12 mx-auto">
    <h1 class="mb-4 text-6xl text-center font-bold">
      Ones To Watch for FrontEnd
    </h1>
    <h2 class="mb-8 text-3xl text-center font-bold">
      프론트엔드에 대한 정보들을 매주 큐레이션해드립니다.
    </h2>
    <div
      class="flex justify-center h-16"
      style="max-width: 440px;margin: 0 auto;"
    >
      <script
        src="https://cdn.jsdelivr.net/ghost/signup-form@~0.1/umd/signup-form.min.js"
        data-button-color="#27eedd"
        data-button-text-color="#FFFFFF"
        data-site={import.meta.env.GHOST_SITE_URL}
        async></script>
    </div>
  </article>
  <article class="container pt-12 px-4 lg:px-12 mx-auto">
    <h3 class="mb-8 text-2xl text-center font-bold">최신 정보</h3>
    <ul
      class="flex flex-col lg:flex-row mb-18 flex-wrap gap-x-0 gap-y-4 lg:gap-x-4"
    >
      {
        postData.map((post) => (
          <li class="w-full rounded-md border-4 border-gray-500 overflow-hidden p-3 lg:w-[calc(50%-.5rem)]">
            <a
              class="w-full h-28 lg:h-40 flex overflow-hidden"
              href={`/news/post/${post.id}`}
            >
              <img
                src={post.feature_image ?? "/images/no-image.png"}
                alt=""
                class="mr-4 w-1/3 object-contain"
              />
              <div class="py-3 flex flex-col grow w-32">
                <div class="text-md lg:text-xl font-bold mb-auto w-full text-ellipsis overflow-hidden whitespace-nowrap h-8">
                  {post.title}
                </div>
                <div class="mb-auto">
                  {post.tags?.map((tag) => (
                    <span class="inline-block rounded-xl py-1 px-4 text-sm lg:text-md mr-1 bg-teal-200">
                      {tag}
                    </span>
                  ))}
                </div>
                <div class="text-md lg:text-lg text-gray-700 w-full">
                  {new Intl.DateTimeFormat("ko-KR").format(
                    new Date(post.published_at ?? "")
                  )}
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center my-8">
      건의사항이나 문의사항이 있다면 이 폼을 통해 전해주세요 :)
    </div>
    <div class="flex justify-center">
      <a
        class="w-36 rounded-xl bg-teal-500 text-white h-12 flex justify-center items-center"
        href="https://forms.gle/XxxppcUJqDPm2esh9"
      >
        건의하기
      </a>
    </div>
  </article>
</Layout>
