---
import type { CollectionEntry } from 'astro:content';
import styles from "@/styles/components/post.module.css";


export interface Props {
  post: CollectionEntry<"news">;
};
const { post } = Astro.props;


const { properties: data } = post.data;
const { env } = Astro.locals.runtime;
if (post.data.cover?.type === "file") {
  const image = await env.IMAGES.head(`thumbnail/${post.id}`);
  if (!image) {
    const imageResponse = await fetch(post.data.cover.file.url);
    const imageBuffer = await imageResponse.arrayBuffer();
    await env.IMAGES.put(`thumbnail/${post}`, imageBuffer);
  }
}
---

<a href={`/news/post/${post.id}`} class={styles.link}>
  <article class={styles.card}>
    <div class={styles.content}>
      {post.data.cover?.type === "file" && (
        <div class={styles["image-container"]}>
          <img 
            src={`${env.CDN_URL}/cdn-cgi/image/width=400/thumbnail/${post.id}`}
            alt=""
          />
        </div>
      )}
      <div class={styles.text}>
        <h2 class={styles.title}>{data.이름}</h2>
        <p class={styles.date}>
          {data.날짜?.start ? new Intl.DateTimeFormat('ko-KR').format(
            data.날짜.start,
          ) : null}</p>
      </div>
    </div>
  </article>
</a>
