---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import styles from "@/styles/components/post.module.css";


export interface Props {
  post: CollectionEntry<"news">;
};
const { post } = Astro.props;

const { properties: data } = post.data;
---

<a href={`/news/post/${post.id}`} class={styles.link}>
  <article class={styles.card}>
    <div class={styles.content}>
      {post.data.cover?.type === "file" && (
        <div class={styles["image-container"]}>
          <Image 
            src={post.data.cover.file.url}
            sizes={`(max-width: 768px) 120px, (max-width: 1023px) 180px, 300px`}
            alt=""
            inferSize
          />
        </div>
      )}
      <div class={styles.text}>
        <h2 class={styles.title}>{data.이름}</h2>
        <p class={styles.date}>
          {data.날짜?.start ? new Intl.DateTimeFormat('ko-KR').format(
            data.날짜.start,
          ) : null}</p>
      </div>
    </div>
  </article>
</a>
